### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [3]:
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [6]:
#use nunique to count total number of UNIQUE players 
print(f"total players: {purchase_data.SN.nunique()}")

total players: 576

In [8]:
#create dataframe which displays total player count 
players = [576]
players_df = pd.DataFrame(players, columns = ["Total Players"])
players_df.head()

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [22]:
#Create data frame which includes only purchase data 
purchasing_analysis_df = purchase_data[["Item Name", "Price", "Purchase ID"]]
purchasing_analysis_df.head()

                                   Item Name  Price  Purchase ID
0  Extraction, Quickblade Of Trembling Hands   3.53            0
1                          Frenzied Scimitar   1.56            1
2                               Final Critic   4.88            2
3                                Blindscythe   3.27            3
4                                       Fury   1.44            4

In [27]:
#print summary information and then output into a summary table with revised column titles 
unique_item = purchasing_analysis_df["Item Name"].nunique()
print(unique_item)
average_price = purchasing_analysis_df["Price"].mean()
print(average_price)
purchase_number = purchasing_analysis_df["Purchase ID"].nunique()
print(purchase_number)
revenue = purchasing_analysis_df["Price"].sum()
print(revenue)

179
3.0509871794871795
780
2379.77

In [283]:
#make sure dataframe matches the provided example clean up and reformat data 
purchase_summary = {"Number of Unique Items": [unique_item], "Average Price": [round(average_price,2)], "Number of Purchases": [purchase_number], "Total Revenue": [round(revenue,2)]}
purchase_summary_df = pd.DataFrame(purchase_summary)
purchase_summary_df["Average Price"] = purchase_summary_df["Average Price"].map("${:.2f}".format)
purchase_summary_df["Total Revenue"] = purchase_summary_df["Total Revenue"].map("${:.2f}".format)
purchase_summary_df.head()

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780      $2379.77

In [3]:
#this is the example provided

   Number of Unique Items Average Price Number of Purchases Total Revenue
0                     179         $3.05                 780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [287]:
#initialize another dataframe which includes relevant information 
gender_df = purchase_data[["Gender", "SN"]]
gender_df.drop_duplicates(inplace = True)
gender_df.head()
gender_df["Gender"].value_counts()
#obtain intial value counts for gender

Male                     484
Female                    81
Other / Non-Disclosed     11
Name: Gender, dtype: int64

In [288]:
#print number of each gender 
gender_male = gender_df.loc[gender_df["Gender"] == "Male"]
males = gender_male.count()
print(males)

Gender    484
SN        484
dtype: int64

In [289]:
gender_female = gender_df.loc[gender_df["Gender"] == "Female"]
females = gender_female.count()
print(females)

Gender    81
SN        81
dtype: int64

In [290]:
gender_other = gender_df.loc[gender_df["Gender"] == "Other / Non-Disclosed"]
other = gender_other.count()
print(other)

Gender    11
SN        11
dtype: int64

In [291]:
gender_total = males + females + other
print(gender_total)

Gender    576
SN        576
dtype: int64

In [300]:
#using the value counts and gender counts above calculate the % demographics using a dictionary to initialize a new dataframe with the demographic summary
Demographics_summary = {"Gender": ["Male", "Female", "Other / Non-Disclosed"], "Total Count": [484, 81, 11], "Percentage of players": [round((484/576)*100,2), round((81/576)*100,2), round((11/576)*100,2)]}

Demographics_summary_df = pd.DataFrame(Demographics_summary)
Demographics_summary_df.head()

                  Gender  Total Count  Percentage of players
0                   Male          484                  84.03
1                 Female           81                  14.06
2  Other / Non-Disclosed           11                   1.91

                       Total Count Percentage of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [91]:
#Display purchase data to reference for following column 
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [114]:
#Create new dataframe with relevant columns to begin extracting needed information 
gender_purchasing_analysis_df = purchase_data[["SN", "Gender", "Price"]]
gender_purchasing_analysis_df.head()
grouped_female_df = gender_purchasing_analysis_df.groupby(["Gender"])
grouped_female_df.head()
female_spending_df = gender_purchasing_analysis_df.loc[gender_purchasing_analysis_df["Gender"] == "Female"]
female_spending_df.head()
#average female purchasing price 
female_avg_spent = female_spending_df["Price"].mean()
print(round(female_avg_spent,2))

3.2

In [115]:
male_spending_df = gender_purchasing_analysis_df.loc[gender_purchasing_analysis_df["Gender"] == "Male"]
male_avg_spent = male_spending_df["Price"].mean()
print(round(male_avg_spent,2))

3.02

other_spending_df = gender_purchasing_analysis_df.loc[gender_purchasing_analysis_df["Gender"] == "Other"]

In [116]:
other_spending = gender_purchasing_analysis_df.loc[gender_purchasing_analysis_df["Gender"] == "Other / Non-Disclosed"]
other_avg_spent = other_spending["Price"].mean()
print(round(other_avg_spent,2))

3.35

In [126]:
#Get initial summary of purchases
female_purch = female_spending_df["Price"].count()
print("Females summary")
print(female_purch)
female_avg_rev = female_total_rev/81
print(f"Average total: {round(female_avg_rev,2)}")
female_total_rev = female_spending_df["Price"].sum()
print(female_total_rev)

male_purch = male_spending_df["Price"].count()
print("Male summary")
print(male_purch)
male_avg_rev = male_total_rev/484
print(f"Average total: {round(male_avg_rev,2)}")
male_total_rev = male_spending_df["Price"].sum()
print(male_total_rev)

other_purch = other_spending["Price"].count()
print("Other Summary")
print(other_purch)
other_avg_rev = other_total_rev/11
print(f"Average total: {round(other_avg_rev,2)}")
other_total_rev = other_spending["Price"].sum()
print(other_total_rev)

Females summary
113
Average total: 4.47
361.94
Male summary
652
Average total: 4.07
1967.64
Other Summary
15
Average total: 4.56
50.19

In [305]:
#Create dataframe with the gender purchase summary results 
Gender_purchase_summary = {
    "Gender": ["Female", "Male", "Other / Non-Disclosed"],
    "Purchase Count": [113, 652, 15],
    "Average Purchase Price": [3.20, 3.02, 3.35],
    "Total Purchase Value": [361.94, 1967.64, 50.19],
    "Avg Total Purchase per Person": [4.47, 4.07, 4.56]
}
gender_purchase_summary_df = pd.DataFrame(Gender_purchase_summary)
gender_purchase_summary_df["Average Purchase Price"] = gender_purchase_summary_df["Average Purchase Price"].map("${:.2f}".format)
gender_purchase_summary_df["Total Purchase Value"] = gender_purchase_summary_df["Total Purchase Value"].map("${:.2f}".format)
gender_purchase_summary_df["Avg Total Purchase per Person"] = gender_purchase_summary_df["Avg Total Purchase per Person"].map("${:.2f}".format)
gender_purchase_summary_df.head()

,Gender,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
0,Female,113,$3.20,$361.94,$4.47
1,Male,652,$3.02,$1967.64,$4.07
2,Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [163]:
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [158]:
bins = [0, 9, 14, 19, 24, 29, 34, 39, 40]
labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

In [167]:
purchase_data.head()
purchase_data_df = purchase_data[["Age", "SN"]]
purchase_data_df.drop_duplicates(inplace=True)
purchase_data_df.head()
age_data = pd.cut(purchase_data_df["Age"], bins, labels=labels)
age_data.value_counts()

20-24    258
15-19    107
25-29     77
30-34     52
35-39     31
10-14     22
<10       17
40+        5
Name: Age, dtype: int64

In [175]:
age_list = [258, 107, 77, 52, 31, 22, 17, 5]
percent_age = [(age/576)*100 for age in age_list]
print(percent_age)

[44.79166666666667, 18.57638888888889, 13.368055555555555, 9.027777777777777, 5.381944444444445, 3.8194444444444446, 2.951388888888889, 0.8680555555555556]

In [306]:
#Definitely a better way to do this portion... 
age_data_summary = {
    "Ages": ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"],
    "Total Count": [17, 22, 107, 258, 77, 52, 31, 12],
    "Percentage of Players": ["2.95%", "3.82%", "18.58%", "44.79%", "13.37%", "9.03%", "5.38%", "2.08%"]
}
age_data_df = pd.DataFrame(age_data_summary)
age_data_df.set_index("Ages")

       Total Count Percentage of Players
Ages
<10             17                 2.95%
10-14           22                 3.82%
15-19          107                18.58%
20-24          258                44.79%
25-29           77                13.37%
30-34           52                 9.03%
35-39           31                 5.38%
40+             12                 2.08%

       Total Count Percentage of Players
<10             17                 2.95%
10-14           22                 3.82%
15-19          107                18.58%
20-24          258                44.79%
25-29           77                13.37%
30-34           52                 9.03%
35-39           31                 5.38%
40+             12                 2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [183]:
#When trying to bin purchase_data by age I am getting "TypeError: Cannot compare a Categorical for op __gt__ with a scalar, which is not a category." so I will remake the purchase_data data frame and rename as purchase_data_fixed_df

TypeError: Cannot compare a Categorical for op __gt__ with a scalar, which is not a category.

In [184]:
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [193]:
purchase_data_fixed_df = purchase_data[["Purchase ID", "SN", "Age", "Gender", "Item ID", "Item Name", "Price"]]
purchase_data_fixed_df

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
...,...,...,...,...,...,...,...
775,775,Aethedru70,21,Female,60,Wolf,3.54
776,776,Iral74,21,Male,164,Exiled Doomblade,1.63
777,777,Yathecal72,20,Male,67,"Celeste, Incarnation of the Corrupted",3.46
778,778,Sisur91,7,Male,92,Final Critic,4.19
779,779,Ennrian78,24,Male,50,Dawn,4.60

In [194]:
pd.cut(purchase_data_fixed_df["Age"], bins, labels=labels).head()

0    20-24
1      40+
2    20-24
3    20-24
4    20-24
Name: Age, dtype: category
Categories (8, object): [<10 < 10-14 < 15-19 < 20-24 < 25-29 < 30-34 < 35-39 < 40+]

In [195]:
purchase_data_fixed_df["Age Groups"] = pd.cut(purchase_data_fixed_df["Age"], bins, labels=labels)

In [196]:
purchase_data_fixed_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Groups
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24

In [203]:
grouped_purchases_df = purchase_data_fixed_df.groupby(["Age Groups"])
grouped_purchases_df.count().head(10)
grouped_purchases_df["Price"].sum()

Age Groups
<10        77.13
10-14      82.78
15-19     412.89
20-24    1114.06
25-29     293.00
30-34     214.00
35-39     147.67
40+        16.71
Name: Price, dtype: float64

In [205]:
grouped_purchases_df["Purchase ID"].count()

Age Groups
<10       23
10-14     28
15-19    136
20-24    365
25-29    101
30-34     73
35-39     41
40+        6
Name: Purchase ID, dtype: int64

In [208]:
grouped_age_revenue = grouped_purchases_df["Price"].sum()
grouped_age_purch_count = grouped_purchases_df["Purchase ID"].count()
grouped_age_avg = grouped_age_revenue/grouped_age_purch_count
print(grouped_age_avg)

Age Groups
<10      3.353478
10-14    2.956429
15-19    3.035956
20-24    3.052219
25-29    2.900990
30-34    2.931507
35-39    3.601707
40+      2.785000
dtype: float64

In [209]:
avg_revenue_by_age = [77.13/17, 82.78/22, 412.89/107, 1114.06/258, 293.00/77, 214.00/52, 147.67/31, 16.71/12]
print(avg_revenue_by_age)

[4.537058823529412, 3.7627272727272727, 3.858785046728972, 4.318062015503876, 3.8051948051948052, 4.115384615384615, 4.763548387096773, 1.3925]

In [309]:
age_purch_analysis = {
    "Age Ranges": ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"],
    "Purchase Count": [23, 28, 136, 365, 101, 73, 41, 6],
    "Average Purchase Price": [3.35, 2.96, 3.04, 3.05, 2.90, 2.93, 3.60, 2.79],
    "Total Purchase Value": [77.13, 82.78, 412.89, 1114.06, 293.00, 214.00, 147.67, 16.71],
    "Avg Total Purchase Per Person": [4.54, 3.76, 3.86, 4.32, 3.81, 4.12, 4.76, 1.39]
}
age_purch_analysis_df = pd.DataFrame(age_purch_analysis)
age_purch_analysis_df["Average Purchase Price"] = age_purch_analysis_df["Average Purchase Price"].map("${:.2f}".format)
age_purch_analysis_df["Total Purchase Value"] = age_purch_analysis_df["Total Purchase Value"].map("${:.2f}".format)
age_purch_analysis_df["Avg Total Purchase Per Person"] = age_purch_analysis_df["Avg Total Purchase Per Person"].map("${:.2f}".format)

age_purch_analysis_df
age_purch_analysis_df.set_index(["Age Ranges"])

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase Per Person
Age Ranges,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,$1114.06,$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,6,$2.79,$16.71,$1.39

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [215]:
purchase_data["SN"].value_counts())

Lisosia93        5
Iral74           4
Idastidru52      4
Raesty92         3
Sondastsda82     3
                ..
Quilassa66       1
Chanirrasta87    1
Haeladil46       1
Errian63         1
Philodil43       1
Name: SN, Length: 576, dtype: int64

In [224]:
top_spender_df = pd.DataFrame({"SN": ["Lisosia93", "Idastidru52", "Chamjask73", "Iral74", "Iskadarya95"]})
top_spender_df

            SN
0    Lisosia93
1  Idastidru52
2   Chamjask73
3       Iral74
4  Iskadarya95

In [344]:
#used a framework that Dave shared to save the output of each result into sepearate dictionary dataframes rather than collating them all at the end like I did in prior questions 
top_spender_1_temp = purchase_data.loc[purchase_data["SN"] == "Lisosia93"].mean()
top_spender_1_avg = top_spender_1_temp["Price"]
top_spender_2_temp = purchase_data.loc[purchase_data["SN"] == "Idastidru52"].mean()
top_spender_2_avg = top_spender_2_temp["Price"]
top_spender_3_temp = purchase_data.loc[purchase_data["SN"] == "Chamjask73"].mean()
top_spender_3_avg = top_spender_3_temp["Price"]
top_spender_4_temp = purchase_data.loc[purchase_data["SN"] == "Iral74"].mean()
top_spender_4_avg = top_spender_4_temp["Price"]
top_spender_5_temp = purchase_data.loc[purchase_data["SN"] == "Iskadarya95"].mean()
top_spender_5_avg = top_spender_5_temp["Price"]
top_spender_avg_dict = pd.DataFrame({"Average Purchase Price": [float(top_spender_1_avg), float(top_spender_2_avg), float(top_spender_3_avg), float(top_spender_4_avg), float(top_spender_5_avg)]})
top_spender_df["Average Purchase Price"] = top_spender_avg_dict

In [345]:
top_spender_1_temp = purchase_data.loc[purchase_data["SN"] == "Lisosia93"].sum()
top_spender_1_rev = top_spender_1_temp["Price"]
top_spender_2_temp = purchase_data.loc[purchase_data["SN"] == "Idastidru52"].sum()
top_spender_2_rev = top_spender_2_temp["Price"]
top_spender_3_temp = purchase_data.loc[purchase_data["SN"] == "Chamjask73"].sum()
top_spender_3_rev = top_spender_3_temp["Price"]
top_spender_4_temp = purchase_data.loc[purchase_data["SN"] == "Iral74"].sum()
top_spender_4_rev = top_spender_4_temp["Price"]
top_spender_5_temp = purchase_data.loc[purchase_data["SN"] == "Iskadarya95"].sum()
top_spender_5_rev = top_spender_5_temp["Price"]
top_spender_rev_dict = pd.DataFrame({"Total Purchase Value": [float(top_spender_1_rev), float(top_spender_2_rev), float(top_spender_3_rev), float(top_spender_4_rev), float(top_spender_5_rev)]})
top_spender_df["Total Purchase Value"] = top_spender_rev_dict

In [346]:
top_spender_1_temp = purchase_data.loc[purchase_data["SN"] == "Lisosia93"].count()
top_spender_1_count = top_spender_1_temp["SN"]
top_spender_2_temp = purchase_data.loc[purchase_data["SN"] == "Idastidru52"].count()
top_spender_2_count = top_spender_2_temp["SN"]
top_spender_3_temp = purchase_data.loc[purchase_data["SN"] == "Chamjask73"].count()
top_spender_3_count = top_spender_3_temp["SN"]
top_spender_4_temp = purchase_data.loc[purchase_data["SN"] == "Iral74"].count()
top_spender_4_count = top_spender_4_temp["SN"]
top_spender_5_temp = purchase_data.loc[purchase_data["SN"] == "Iskadarya95"].count()
top_spender_5_count = top_spender_5_temp["SN"]
top_spender_count_dict = pd.DataFrame({"Purchase Count": [top_spender_1_count, top_spender_2_count, top_spender_3_count, top_spender_4_count, top_spender_5_count]})
top_spender_df["Purchase Count"] = top_spender_count_dict

In [348]:
top_spender_df["Average Purchase Price"] = top_spender_df["Average Purchase Price"].map("${:.2f}".format)
top_spender_df["Total Purchase Value"] = top_spender_df["Total Purchase Value"].map("${:.2f}".format)

top_spender_df.set_index(["SN"])

            Average Purchase Price Total Purchase Value  Purchase Count
SN
Lisosia93                    $3.79               $18.96               5
Idastidru52                  $3.86               $15.45               4
Chamjask73                   $4.61               $13.83               3
Iral74                       $3.40               $13.62               4
Iskadarya95                  $4.37               $13.10               3

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [239]:
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [240]:
popular_items_df = purchase_data[["Item ID", "Item Name", "Price"]]

In [247]:
grouped_items_df = popular_items_df.groupby(["Item ID", "Item Name"])
grouped_items_df.head(10)
grouped_items_df["Item ID"].value_counts().sort_values(ascending=False)

Item ID  Item Name                                     Item ID
92       Final Critic                                  92         13
178      Oathbreaker, Last Hope of the Breaking Storm  178        12
108      Extraction, Quickblade Of Trembling Hands     108         9
132      Persuasion                                    132         9
82       Nirvana                                       82          9
                                                                  ..
104      Gladiator's Glaive                            104         1
27       Riddle, Tribute of Ended Dreams               27          1
134      Undead Crusader                               134         1
118      Ghost Reaver, Longsword of Magic              118         1
91       Celeste                                       91          1
Name: Item ID, Length: 179, dtype: int64

In [250]:
pop_items_df = pd.DataFrame({"Item ID": [92, 178, 108, 132, 82]})
pop_items_df.head()

   Item ID
0       92
1      178
2      108
3      132
4       82

In [252]:
pop_item_name_dict = pd.DataFrame({"Item Name": ["Final Critic", "Oathbreaker, Last Hope of Breaking Storm", "Fiery Glass Crusader", "Persuasion", "Extraction, Quickblade of Trembling Hands"]})
pop_items_df["Item Name"] = pop_item_name_dict
pop_items_df

   Item ID                                  Item Name
0       92                               Final Critic
1      178   Oathbreaker, Last Hope of Breaking Storm
2      108                       Fiery Glass Crusader
3      132                                 Persuasion
4       82  Extraction, Quickblade of Trembling Hands

In [267]:
pop_item_1_temp = purchase_data.loc[purchase_data["Item ID"] == 92].count()
pop_item_1_count = pop_item_1_temp["Item ID"]
pop_item_2_temp = purchase_data.loc[purchase_data["Item ID"] == 178].count()
pop_item_2_count = pop_item_2_temp["Item ID"]
pop_item_3_temp = purchase_data.loc[purchase_data["Item ID"] == 108].count()
pop_item_3_count = pop_item_3_temp["Item ID"]
pop_item_4_temp = purchase_data.loc[purchase_data["Item ID"] == 132].count()
pop_item_4_count = pop_item_4_temp["Item ID"]
pop_item_5_temp = purchase_data.loc[purchase_data["Item ID"] == 82].count()
pop_item_5_count = pop_item_5_temp["Item ID"]
pop_item_count_dict = pd.DataFrame({"Purchase Count": [pop_item_1_count, pop_item_2_count, pop_item_3_count, pop_item_4_count, pop_item_5_count]})
pop_items_df["Purchase Count"] = pop_item_count_dict
pop_items_df

   Item ID                                  Item Name  Purchase Count
0       92                               Final Critic              13
1      178   Oathbreaker, Last Hope of Breaking Storm              12
2      108                       Fiery Glass Crusader               9
3      132                                 Persuasion               9
4       82  Extraction, Quickblade of Trembling Hands               9

2      4.88
99     4.19
252    4.88
273    4.88
277    4.88
411    4.19
536    4.19
712    4.88
722    4.88
767    4.88
768    4.88
774    4.19
778    4.19
Name: Price, dtype: float64

In [351]:
pop_item_1_temp = purchase_data.loc[purchase_data["Item ID"] == 92].sum()
pop_item_1_rev = pop_item_1_temp["Price"]
pop_item_1_price = pop_item_1_rev/pop_item_1_count
pop_item_2_temp = purchase_data.loc[purchase_data["Item ID"] == 178].sum()
pop_item_2_rev = pop_item_2_temp["Price"]
pop_item_2_price = pop_item_2_rev/pop_item_2_count
pop_item_3_temp = purchase_data.loc[purchase_data["Item ID"] == 108].sum()
pop_item_3_rev = pop_item_3_temp["Price"]
pop_item_3_price = pop_item_3_rev/pop_item_3_count
pop_item_4_temp = purchase_data.loc[purchase_data["Item ID"] == 132].sum()
pop_item_4_rev = pop_item_4_temp["Price"]
pop_item_4_price = pop_item_4_rev/pop_item_4_count
pop_item_5_temp = purchase_data.loc[purchase_data["Item ID"] == 82].sum()
pop_item_5_rev = pop_item_5_temp["Price"]
pop_item_5_price = pop_item_5_rev/pop_item_5_count
pop_item_price_dict = pd.DataFrame({"Item Price" : [pop_item_1_price, pop_item_2_price, pop_item_3_price, pop_item_4_price, pop_item_5_price]})
pop_items_df["Item Price"] = pop_item_price_dict
pop_item_rev_dict = pd.DataFrame({"Total Purchase Value": [pop_item_1_rev, pop_item_2_rev, pop_item_3_rev, pop_item_4_rev, pop_item_5_rev]})
pop_items_df["Total Purchase Value"] = pop_item_rev_dict
pop_items_df["Item Price"] = pop_items_df["Item Price"].map("${:.2f}".format)
pop_items_df["Total Purchase Value"] = pop_items_df["Total Purchase Value"].map("${:.2f}".format)
pop_items_df.set_index(["Item ID"])

,Item Name,Purchase Count,Item Price,Total Purchase Value
Item ID,,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of Breaking Storm",12,$4.23,$50.76
108,Fiery Glass Crusader,9,$3.53,$31.77
132,Persuasion,9,$3.22,$28.99
82,"Extraction, Quickblade of Trembling Hands",9,$4.90,$44.10

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [274]:
popular_items_df = purchase_data[["Item ID", "Item Name", "Price"]]

In [276]:
grouped_items_df = popular_items_df.groupby(["Item ID", "Item Name"])
grouped_items_df.head(10)
grouped_items_df["Price"].sum().sort_values(ascending=False)

Item ID  Item Name
92       Final Critic                                    59.99
178      Oathbreaker, Last Hope of the Breaking Storm    50.76
82       Nirvana                                         44.10
145      Fiery Glass Crusader                            41.22
103      Singed Scalpel                                  34.80
                                                         ...
28       Flux, Destroyer of Due Diligence                 2.12
125      Whistling Mithril Warblade                       2.00
126      Exiled Mithril Longsword                         2.00
104      Gladiator's Glaive                               1.93
42       The Decapitator                                  1.75
Name: Price, Length: 179, dtype: float64

In [277]:
profit_items_df = pd.DataFrame({"Item ID": [92, 178, 82, 145, 103]})
profit_items_df.head()

   Item ID
0       92
1      178
2       82
3      145
4      103

In [278]:
profit_items_names_dict = pd.DataFrame({"Item Name": ["Final Critic", "Oathbreaker, Last Hope of Breaking Storm", "Nirvana", "Fiery Glass Crusader", "Singed Scalpel"]})
profit_items_df["Item Name"] = profit_items_names_dict
profit_items_df.head()

   Item ID                                 Item Name
0       92                              Final Critic
1      178  Oathbreaker, Last Hope of Breaking Storm
2       82                                   Nirvana
3      145                      Fiery Glass Crusader
4      103                            Singed Scalpel

In [279]:
pro_item_1_temp = purchase_data.loc[purchase_data["Item ID"] == 92].count()
pro_item_1_count = pro_item_1_temp["Item ID"]
pro_item_2_temp = purchase_data.loc[purchase_data["Item ID"] == 178].count()
pro_item_2_count = pro_item_2_temp["Item ID"]
pro_item_3_temp = purchase_data.loc[purchase_data["Item ID"] == 82].count()
pro_item_3_count = pro_item_3_temp["Item ID"]
pro_item_4_temp = purchase_data.loc[purchase_data["Item ID"] == 145].count()
pro_item_4_count = pro_item_4_temp["Item ID"]
pro_item_5_temp = purchase_data.loc[purchase_data["Item ID"] == 103].count()
pro_item_5_count = pro_item_5_temp["Item ID"]
pro_item_count_dict = pd.DataFrame({"Purchase Count": [pro_item_1_count, pro_item_2_count, pro_item_3_count, pro_item_4_count, pro_item_5_count]})
profit_items_df["Purchase Count"] = pro_item_count_dict
profit_items_df

   Item ID                                 Item Name  Purchase Count
0       92                              Final Critic              13
1      178  Oathbreaker, Last Hope of Breaking Storm              12
2       82                                   Nirvana               9
3      145                      Fiery Glass Crusader               9
4      103                            Singed Scalpel               8

In [352]:
pro_item_1_temp = purchase_data.loc[purchase_data["Item ID"] == 92].sum()
pro_item_1_rev = pro_item_1_temp["Price"]
pro_item_1_price = pro_item_1_rev/pro_item_1_count
pro_item_2_temp = purchase_data.loc[purchase_data["Item ID"] == 178].sum()
pro_item_2_rev = pro_item_2_temp["Price"]
pro_item_2_price = pro_item_2_rev/pro_item_2_count
pro_item_3_temp = purchase_data.loc[purchase_data["Item ID"] == 82].sum()
pro_item_3_rev = pro_item_3_temp["Price"]
pro_item_3_price = pro_item_3_rev/pro_item_3_count
pro_item_4_temp = purchase_data.loc[purchase_data["Item ID"] == 145].sum()
pro_item_4_rev = pro_item_4_temp["Price"]
pro_item_4_price = pro_item_4_rev/pro_item_4_count
pro_item_5_temp = purchase_data.loc[purchase_data["Item ID"] == 103].sum()
pro_item_5_rev = pro_item_5_temp["Price"]
pro_item_5_price = pro_item_5_rev/pro_item_5_count
pro_item_price_dict = pd.DataFrame({"Item Price" : [pro_item_1_price, pro_item_2_price, pro_item_3_price, pro_item_4_price, pro_item_5_price]})
profit_items_df["Item Price"] = pro_item_price_dict
pro_item_rev_dict = pd.DataFrame({"Total Purchase Value": [pro_item_1_rev, pro_item_2_rev, pro_item_3_rev, pro_item_4_rev, pro_item_5_rev]})
profit_items_df["Total Purchase Value"] = pro_item_rev_dict
profit_items_df["Item Price"] = profit_items_df["Item Price"].map("${:.2f}".format)
profit_items_df["Total Purchase Value"] = profit_items_df["Total Purchase Value"].map("${:.2f}".format)
profit_items_df.set_index(["Item ID"])

,Item Name,Purchase Count,Item Price,Total Purchase Value
Item ID,,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
103,Singed Scalpel,8,$4.35,$34.80